body {
    font-family: 'Open Sans', sans-serif;
    background: #008b74;
    font-size: 1.3rem;
    line-height: 1.6;
}



.wrapper {
    width: 80%;
    margin: auto;
}

header {
    margin-bottom: 4em;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 0;
}

header p {
    font-size: 2rem;
    font-style: italic;
    margin: 0;
    letter-spacing: -.08em;
}

article {
    margin-bottom: 4em;
    border-bottom: 10px solid rgba(240, 110, 87, 0.89);
}

/* grid */

img {
    max-width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1em;
}

.grid-item p {
    margin: 0;
}